zebar/start.bat
zebar/settings.json
zebar/script.js
zebar/normalize.css
zebar/starter/with-komorebi.zebar.json
zebar/starter/with-komorebi.html
zebar/starter/vanilla.zebar.json
zebar/starter/vanilla.html
zebar/boilerplate-solid-ts
zebar/boilerplate-react-buildless
glazewm/errors.log
zebar/tmp-QzpcVXNlcnNcbWF0dXMuYmVua29cLmdsenJcemViYXJcc3RhcnRlcg==/EBWebView
